---
import Layout from "../layouts/Layout.astro"
import Carrusel from "../components/Carrusel.astro"
import BannerFooter from "../components/BannerFooter.astro";
import { Maquinaria,Materiales,title,text,titleMaquinaria,titleMateriales,BannerFooterPages } from "../js/servicesPages";
---

<Layout title="Servicios">
  <main class="mt-10">
    <h1 class="text-center  text-5xl uppercase mt-4  font-semibold text-sky-800 max-[600px]:text-4xl  mb-2">{title}</h1>
    <p class="text-center  text-2xl uppercase   font-semibold max-[600px]:text-4xl  mt-3">{text}</p>
    <article class="w-full flex justify-center content-center mt-12">
      <section class="w-[60%] ">
        <h1 class="text-center  text-5xl uppercase mt-4  font-semibold text-sky-800 max-[600px]:text-4xl mb-6">{titleMaquinaria}</h1>
        <Carrusel data={Maquinaria}/>
      </section>
    </article>

    <article class="w-full flex justify-center content-center mt-20">
      <section class="w-[60%] ">
        <h1 class="text-center  text-5xl uppercase mt-4  font-semibold text-sky-800 max-[600px]:text-4xl mb-6">{titleMateriales}</h1>
        <Carrusel data={Materiales}/>
      </section>
    </article>
    <article class="mt-[10%] h-[60rem] rounded-[22px_22px_0_0] BanerFooter">
      <BannerFooter video={BannerFooterPages.video} text={BannerFooterPages.text}/>
    </article>
  </main>
</Layout>
